.bg {
    background-color: #de4daa;
    background-image: linear-gradient(325deg, #de4daa 0%, #f6d327 94%);
    width: 100%;
    color: #eb3b5a;
    font-weight: bold;
  }
  
  .marginTop {
    padding: 10% 0 30% 0;
  }
  
  .submit {
    background: #eb3b5a;
    color: white;
  }